/* Landing page */

.landing-main {
    width: 100%;
    height: 90vh;
}
.landing-grid {
    background: #DCE35B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .landing-grid-dm {
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    text-align: center;
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .avatar-img {
    height: 250px;
    padding-top: 10em;
  }
  
  .banner-text {
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    /* background-color: black; */
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }

  
  .banner-text h1 {
    font-size: 55px;
    font-weight: bold;
    color: white;
  }
  
  .name {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
  }
  
  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }
  
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
  
  .social-links i:hover {
    color : greenyellow;
  }

  @media screen and (max-width: 576px) {
    .landing-main {
    width: 100%;
    height: 80em;
}

.landing-grid {
     width: 100%;
     height: 100%;
  }

  .banner-text {
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,1) 32%, rgba(74,71,70,1) 100%);
    /* background-color: black; */
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
  }
  
  .banner-text h1 {
    font-size: 3em;
    font-weight: bold;
    color: white;
  }
  
  .name {
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 20px;
  }
  
  .banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }
  
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
  
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;
  }
 
}
