/*  Project page */

.category-tabs {
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .project-grid {
    flex-shrink: 0;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
  }

  @media screen and (max-width: 576px) {
    .category-tabs {
        margin-top: 20px;
      }
      
      .project-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
      } 
  }
